

/*-----------------------FeedBack Form----------------------------*/
.background{
  background: #fff;
  padding-bottom: 100px;
}
.contact_container {
  margin-top: 78px;
}

.contact_form label {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
}
.contact_form input {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5000px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
}
.offset{
  margin-left: 16.333%;
}
  .btn-blue{
    color: #fff;
    background-color: rgb(93, 170, 214);
  }
.bg-form{
  background: #d8e4e861;
}