body {
    margin: 0%;
    padding: 0%;
  }
  
  /* Mobile Version */
  
  .navigation-menu {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
  }
  
  /* Hiding the main navigation until it is clicked */
  
  .main-navigation {
    display: none;
    padding-left: 0px;
  }
  
  .main-navigation li {
    list-style-type: none;
    margin: 15px auto;
    text-align: center;
  }
  
  .main-navigation a {
    padding: 5px 7px;
    color: #947aff;
    margin: 0px 2px 0px 2px;
    text-decoration: none;
    display: inline-block;
  }
  
  .main-navigation a:hover {
    color: black;
    transition: 0.3s ease;
  }
  
  .hamburger-icon {
    margin: 5px 30px 5px 5px;
    cursor: pointer;
    font-size: 1.8rem;
    color: black;
  }
  
  /* Hiding the checkbox */
  
  #menu-toggle {
    display: none;
  }
  
  /* When the checkbox is ticked, the main navigation will display */
  
  #menu-toggle:checked + .main-navigation {
    display: block;
  }
  
  /* photogrid  */
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /*  three equal columns next to each other */
  .column {
    flex: 24%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 1000px) and (min-width: 800px) {
    .column {
      flex: 32%;
      max-width: 33.33%;
    }
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Desktop Version */
  
  /* responsive navigation bar  */
  
  @media screen and (min-width: 505px) {
    .navigation-menu {
      height: 45px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e7e7e7;
    }
  
    .main-navigation {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 30px;
    }
  
    .main-navigation a {
      padding: 15px 17px;
    }
  
    /* Hiding the hamburger icon on larger screens */
  
    .hamburger-icon {
      display: none;
    }
  
    /* Ensuring that if the hamburger menu is active but
      the screen becomes larger, the display will 
      change to display items in a row instead of a column*/
  
    #menu-toggle:checked + .main-navigation {
      display: flex;
    }
  }
  