
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Raleway:wght@100&display=swap');

html,body{
  overflow-x: hidden;
  overflow-y: auto;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 5px rgb(211 205 205 / 50%);
}

#header.header-scrolled, #header.header-inner-pages {
  background: #fff;
  padding: 10px 0;
}

#header .navbar-brand img{
  margin: 3px;
  padding: 0;
  width: 4em;
  height: 3.5em;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar-brand{
  margin-right: 2rem;
}
.navbar-collapse li {
  position: relative;
}

.navbar-collapse > ul > li {
  white-space: nowrap;
  padding: 8px 12px;
}

.navbar-collapse a, .navbar-collapse a:focus {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-collapse a i, .navbar-collapse a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 5px;
}

.navbar-collapse > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  right: 0;
  background-color: #000000c4;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-collapse a:hover:before, .navbar-collapse li:hover > a:before, .navbar-collapse .active:before {
  visibility: visible;
  width: 100%;
}

.navbar-collapse a:hover, .navbar-collapse .active, .navbar-collapse .active:focus, .navbar-collapse li:hover > a {
  color: rgb(0, 0, 0);
}

.navbar-btn{
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
}

.bi-list{
  color:#eee;
}
.content{
  height: 700px;
  display: flex;
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 10%;
  top: 15px;
  left: 15px;
  
}
.content img{
  border-radius: 5%;
}
#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation: fade-in 2s  ease-in-out;
}
@keyframes fade-in{
  from {top: 600px; opacity: 0;}
  to {top: 0px;}
}
#auto-generate-text{
  width: 400px;
  font-size: 18px;
  color: rgb(94, 65, 28);
  text-align: center;
}
.typewrite{
  font-size: 25px;
  font-family: merriweather_extendedLtIt,lailaregular,MehrNastaliqRegular;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #ff1717;
  border: 2px solid #ff1717;
}

#hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #ff1717;
}
/* Carousel */
.header_carousel_container {
  margin-top: 40px;
  width: 100vw;
  left: 0;
}
.carousel-item img {
  width: 100%;
  height: 500px;
}


/* 
 */
.word-heading{
   padding: 10px 0px 15px 0px;
   align-items: center;
   justify-content: center;
   font-size: 2.5rem;
   font-weight: 600;
   color: chocolate;
   font-style: italic;
}
.word-content{
  padding: 20px 0px 35px 0px;
   align-items: center;
   justify-content: center;
   font-style: italic;
   font-size: 1.6rem;
}

/* Footer */

.footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; 
}
.footer-social-link ul {
  list-style-type: none;
  padding: 0 10px;
}
.footer-social-link li {
  display: inline-block; 
}
.footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; 
}
.footer-social-link a i.facebook {
    background-color: #3B5998; 
}
.footer-social-link a i.twitter {
  background-color: #55ACEE;
}
.footer-social-link a i.youtube {
  background-color: #be1616;
}
.footer-social-link a i.linkedin {
    background-color: #0976B4; 
  }
.footer-social-link a i.instagram {  
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); 
}
.footer{
  background-color: rgb(211, 200, 200);
  padding: 10px 0%;
  align-items: center;
}
.right{
  padding-right: 10px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.home{
  padding-top: 26px;
  font-size: 1.5em;
  text-align: justify;
  color: rgb(112, 56, 56);
}
@media (max-width: 420px) {
  .left{
    margin: auto;
    
  }
  .right{
    margin: auto;
    width: 75%;
  }
}