{% extends 'base.html' %}
{% block active_about %}
active
{% endblock active_about %}
{% block body %}

<section>
    <div class="sample-header">
        <div class="sample-header-section">
            <h1>व्योम परिवार</h1>
            <h2></h2>
        </div>
    </div>
    <div class="sample-section-wrap">
        <div class="sample-section">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat massa quis enim. </p>

            <p>Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum
                volutpat pretium libero. Cras id dui. Aenean ut.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat massa quis enim. </p>

            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                Cras dapibus. Vivamus elementum semper nisi. Aenean
                vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
                varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. </p>
        </div>
    </div>
</section>


</main>


{% endblock body %}

<script>
    function parallax_height() {
        var scroll_top = $(this).scrollTop();
        //var sample_section_top = $(".sample-section").offset().top;
        var header_height = $(".sample-header-section").outerHeight();
        $(".sample-section").css({ "margin-top": 950 });
        $(".sample-header").css({ height: 2100 - scroll_top });
    }
    parallax_height();
    $(window).scroll(function () {
        parallax_height();
    });
    $(window).resize(function () {
        parallax_height();
    });
</script>

</html>