{% extends 'base.html' %}
{% block active_art %}
active
{% endblock active_art %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/art.css') }}">
<div class="gallery art_container">
    <div class="gallery__column">
        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src=" https://drive.google.com/thumbnail?id=1Bpkkfc9yIADWQuclM82TsWl1sV5nFoCY"
                    alt="Portrait by Jessica Felicio" class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="../images/Instagram/Art1.png" height="300" width="500" alt="Portrait by Ritu"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Ritu</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="../images/Instagram/Art2.png" height="300" width="300" alt="Portrait by Ritu"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/AR7aumwKr2s/300x300" alt="Portrait by Noah Buscher"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
            </figure>
        </a>

        <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/dnL6ZIpht2s/300x300" alt="Portrait by Ivana Cajina"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
            </figure>
        </a>

        <a href="https://unsplash.com/@samburriss" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/tV_1sC603zA/300x500" alt="Portrait by Sam Burriss"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a href="https://unsplash.com/@marilezhava" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/Xm9-vA_bhm0/300x500" alt="Portrait by Mari Lezhava"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/NTjSR3zYpsY/300x300" alt="Portrait by Ethan Haddox"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/2JH8d3ChNec/300x300" alt="Portrait by Amir Geshani"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
            </figure>
        </a>
    </div>

    <div class="gallery__column">
        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/FQhLLehm4dk/300x300" alt="Portrait by Guilian Fremaux"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/OQd9zONSx7s/300x300" alt="Portrait by Jasmin Chew"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
            </figure>
        </a>

        <a class="gallery__link">
            <figure class="gallery__thumb">
                <img src="https://source.unsplash.com/XZkEhowjx8k/300x500" alt="Portrait by Dima DallAcqua"
                    class="gallery__image">
                <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
            </figure>
        </a>
    </div>
</div>

{% endblock body %}