{% extends 'base.html' %}
{% block active_events %}
active
{% endblock active_events %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
<div class="container">

    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <img class="ml-0 image-fluid" src="../images/Instagram/Art1.png" alt="..">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="media-body">
                <h2 class="mt-0">JSS Infoconnect</h2>
                <p>An online information portal for notices, assignments and placement info.</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>
</div>
{% endblock body %}
<h2>our events</h2>