{% extends 'base.html' %}
{% block active_events %}
active
{% endblock active_events %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
<div class="container">

    <div class="row row-fluid mt-3">
        <div class="col-md-6 col-sm-12 col-12 image">
            <img src="../images/Instagram/Art1.png" class="image-fluid" height="350px" class="rounded float-left"
                alt="...">
        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="media-body">
                <h2 class="mt-0">मेरी कलम से</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>

    <div class="row row-fluid mt-3">
        <div class="col-md-6 col-sm-12 col-12 image">
            <img src="../images/Instagram/Art1.png" class="image-fluid" height="350px" class="rounded float-left"
                alt="...">
        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="media-body">
                <h2 class="mt-0">मंथन</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>

    <div class="row row-fluid mt-3">
        <div class="col-md-6 col-sm-12 col-12 image">
            <img src="../images/Instagram/Art1.png" class="image-fluid" height="350px" class="rounded float-left"
                alt="...">
        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="media-body">
                <h2 class="mt-0">नीरजा</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>

    <div class="row row-fluid mt-3">
        <div class="col-md-6 col-sm-12 col-12 image">
            <img src="../images/Instagram/Art1.png" class="image-fluid" height="350px" class="rounded float-left"
                alt="...">
        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="media-body">
                <h2 class="mt-0">Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>

    <div class="row row-fluid mt-3">
        <div class="col-md-6 col-sm-12 col-12 image">
            <img src="../images/Instagram/Art1.png" class="image-fluid" height="350px" class="rounded float-left"
                alt="...">
        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="media-body">
                <h2 class="mt-0">Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit.</p>
            </div>
            <div style="display: inline-block" class="tech tech1">

            </div>

        </div>
    </div>
</div>
{% endblock body %}
<h2>our events</h2>