{% extends 'base.html' %}
{% block active_events %}
active
{% endblock active_events %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="" class="card">
                <img src="https://source.unsplash.com/random
            " class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">Jessica Parker</h3>
                            <span class="card__status">1 hour ago</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="" class="card">
                <img src="https://source.unsplash.com/random
            " class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">kim Cattrall</h3>
                            <span class="card__status">3 hours ago</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-6">
            <a href="" class="card">
                <img src="https://source.unsplash.com/random
            " class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">kim Cattrall</h3>
                            <span class="card__status">3 hours ago</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="" class="card">
                <img src="https://source.unsplash.com/daily?person/800x900
            " class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">kim Cattrall</h3>
                            <span class="card__status">3 hours ago</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock body %}
<h2>our events</h2>