{% extends 'base.html' %}
{% block active_gallery %}
active
{% endblock active_gallery %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
<!-- Photo Grid -->
<div class="wrapper">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?water" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?summer" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?plants" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?snow" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?roses" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?sky" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?nature" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?blossom" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?ice" alt="">
    <img class="diamond" src="https://source.unsplash.com/random/600x600?spring" alt="">
</div>

{% endblock body %}