{% extends 'base.html' %}
{% block active_gallery %}
active
{% endblock active_gallery %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <img src="https://images.unsplash.com/photo-1552168324-d612d77725e3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FtZXJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1510127034890-ba27508e9f1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2FtZXJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1510127034890-ba27508e9f1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2FtZXJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1607462109225-6b64ae2dd3cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1495745966610-2a67f2297e5e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNhbWVyYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">

    </div>
    <div class="column">
        <img src="https://images.unsplash.com/photo-1620288650879-20db0eb38c05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHBob25lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1573920011462-eb3003086611?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBob25lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1573920011462-eb3003086611?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBob25lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1474487548417-781cb71495f3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1532105956626-9569c03602f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">

    </div>
    <div class="column">
        <img src="https://images.unsplash.com/reserve/OQx70jjBSLOMI5ackhxm_urbex-ppc-030.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1548557700-561382b8a156?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1518802508264-76256089cddb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1527295110-5145f6b148d0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1535535112387-56ffe8db21ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">

    </div>
    <div class="column">
        <img src="https://images.unsplash.com/reserve/OQx70jjBSLOMI5ackhxm_urbex-ppc-030.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1548557700-561382b8a156?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1518802508264-76256089cddb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1527295110-5145f6b148d0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">
        <img src="https://images.unsplash.com/photo-1535535112387-56ffe8db21ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHRyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            style="width:100%">

    </div>

</div>

{% endblock body %}