{% extends 'base.html' %}
{% block active_home %}
active
{% endblock active_home %}
{% block body %}

<section>
    <div class="container home">
        Vyom is the official Hindi literature society of JSSATE Noida. Main vision of the society is to spread awareness
        and interest for Hindi language and literature in the campus community and the society. All the Hindi literary
        events held in the campus are organized by us.
    </div>
</section>
<section class="header_carousel_container">
    <!--CAROUSEL-->
    <div id="headercarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner text-danger">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="../assests/images/carousel1.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="../assests/images/carousel2.png" alt="">
            </div>
            <div class="carousel-item ">
                <img class="d-block img-fluid " src="../assests/images/carousel3.png" alt="">
            </div>
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-bs-target="#headercarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></li>
                <li type="button" data-bs-target="#headercarousel" data-bs-slide-to="1" aria-label="Slide 2">
                </li>
                <li type="button" data-bs-target="#headercarousel" data-bs-slide-to="2" aria-label="Slide 3">
                </li>
            </ul>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" type="button" data-bs-target="#headercarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#headercarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container justify-content-center">
        <p id="auto-generate-text text-danger" class="typewrite text-center text-danger" data-period="2000"
            data-type='["मैं सच कहूँगी मगर फिर भी हार जाऊँगी वो झूट बोलेगा और ला-जवाब कर देगा", "I am Creative.", "I Love Design.", "I Love to Develop."]'>
        </p>
    </div>
</section>

<script>
    var TxtType = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = function () {
        var elements = document.getElementsByClassName('typewrite');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };



</script>

{% endblock body %}