{% extends 'base.html' %}
{% block active_team %}
active
{% endblock active_team %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/team.css') }}">
<div class="container-fluid team_container">
    <h2 class="text-center text-success">Team</h2>
    <div class="row">
        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card">

                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details">
                    <h2>John Smith
                        <br>
                        <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
        </div><!-- end box wrapper -->


        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card profile-two">

                <div class="card-image profile-img--two">
                    <img src="https://image.ibb.co/c9rY6J/profile02.jpg" alt="profile two">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details jane">
                    <h2>Jane Doe
                        <br>
                        <span class="job-title">UI Designer</span>
                    </h2>
                </div>
            </div>
        </div><!-- END box wrapper -->

        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card">

                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details">
                    <h2>John Smith
                        <br>
                        <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
        </div><!-- end box wrapper -->

        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card profile-two">

                <div class="card-image profile-img--two">
                    <img src="https://image.ibb.co/c9rY6J/profile02.jpg" alt="profile two">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details jane">
                    <h2>Jane Doe
                        <br>
                        <span class="job-title">UI Designer</span>
                    </h2>
                </div>
            </div>
        </div><!-- END box wrapper -->
    </div>

    <div class="row">
        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card">

                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details">
                    <h2>John Smith
                        <br>
                        <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
        </div><!-- end box wrapper -->


        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card profile-two">

                <div class="card-image profile-img--two">
                    <img src="https://image.ibb.co/c9rY6J/profile02.jpg" alt="profile two">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details jane">
                    <h2>Jane Doe
                        <br>
                        <span class="job-title">UI Designer</span>
                    </h2>
                </div>
            </div>
        </div><!-- END box wrapper -->

        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card">

                <div class="card-image">
                    <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details">
                    <h2>John Smith
                        <br>
                        <span class="job-title">UI Developer</span>
                    </h2>
                </div>
            </div>
        </div><!-- end box wrapper -->

        <div class="card-wrapper col-lg-3 col-sm-12">

            <div class="card profile-two">

                <div class="card-image profile-img--two">
                    <img src="https://image.ibb.co/c9rY6J/profile02.jpg" alt="profile two">
                </div>

                <ul class="social-icons">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>

                <div class="details jane">
                    <h2>Jane Doe
                        <br>
                        <span class="job-title">UI Designer</span>
                    </h2>
                </div>
            </div>
        </div><!-- END box wrapper -->
    </div>

</div><!-- END container -->
<div class="container-fluid devloper_container">
    <h2 class="text-center text-warning">Devloper</h2>
    <div class="card__collection clear-fix d-flex justify-content-center">
        <div class="row">
            <div class="cards cards--two py-0">
                <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80"
                    class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Lucy Grace</p>
                <ul class="cards__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>
            <div class="cards cards--three py-0">
                <img src="https://images.unsplash.com/photo-1480408144303-d874c5e12201?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=575213599ae24b3dbdfd84be79425c50&auto=format&fit=crop&w=634&q=80"
                    class="img-responsive" alt="">
                <span class="cards--three__rect-1">
                    <span class="shadow-1"></span>
                    <p>Chris Levnon</p>
                </span>
                <span class="cards--three__rect-2">
                    <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body %}