{% extends 'base.html' %}
{% block active_team %}
active
{% endblock active_team %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
<div class="container">
    <div class="cards">
        <div class="card">
            <span class="card-header" style="background-image: url('../images/team/Shivanshu.png')">
                <span class="card-title">
                    <h3> शिवांशू सचान</h3>
                </span>
            </span>
            <span class="card-summary">
                अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url('../images/team/Adarsh.jpg');">
                <span class="card-title">
                    <h3>आदर्श सिंह</h3>
                </span>
            </span>
            <span class="card-summary">
                स्वतन्त्र प्रभार
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url('../images/team/Rishabh.png');">
                <span class="card-title">
                    <h3>ऋषभ श्रीवास्तव</h3>
                </span>
            </span>
            <span class="card-summary">
                तकनीकी विभाग अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url('')">
                <span class="card-title">
                    <h3>मृत्युंजय सिंह</h3>
                </span>
            </span>
            <span class="card-summary">
                उपाध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url('../images/team/Aman.png');">
                <span class="card-title">
                    <h3>अमन राय</h3>
                </span>
            </span>
            <span class="card-summary">
                लेखन एवं सम्पादन विभाग अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/400/200/people);">
                <span class="card-title">
                    <h3>राहुल नामदेव</h3>
                </span>
            </span>
            <span class="card-summary">
                सचिव
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/400/250/nature);">
                <span class="card-title">
                    <h3>हर्षिता पीयूष</h3>
                </span>
            </span>
            <span class="card-summary">
                कला विभाग अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/400/250/animals);">
                <span class="card-title">
                    <h3>शुभम सिंह</h3>
                </span>
            </span>
            <span class="card-summary">
                व्यवस्थापिका विभाग अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/600/600/people);">
                <span class="card-title">
                    <h3>राहुल सिंह</h3>
                </span>
            </span>
            <span class="card-summary">
                अनुसन्धान एवं विकास अध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/400/400/tech);">
                <span class="card-title">
                    <h3>सौरभ यादव</h3>
                </span>
            </span>
            <span class="card-summary">
                सामाजिक एवं प्रचार प्रमुख
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url(http://placeimg.com/400/400/tech);">
                <span class="card-title">
                    <h3>समद खान</h3>
                </span>
            </span>
            <span class="card-summary">
                वित्तीय अध्यक्ष/कोषाध्यक्ष
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>
    </div>
</div>
<hr class="hr-text" data-content="Technical Team">
<div class="container">
    <div class="cards">
        <div class="card">
            <span class="card-header" style="background-image: url('../images/team/Anant1.png')">
                <span class="card-title">
                    <h3> अनंत कुमार गुप्ता</h3>
                </span>
            </span>
            <span class="card-summary">
                Web Developer
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a href="https://www.instagram.com/11_anant"
                            class="bi bi-instagram "></a></li>
                </ul>
            </span>
        </div>

        <div class="card" href="#">
            <span class="card-header" style="background-image: url('../images/team/Vishnu.png');">
                <span class="card-title">
                    <h3>विष्णु सिंह</h3>
                </span>
            </span>
            <span class="card-summary">
                Ex-Technical Head
            </span>
            <span class="card-meta">
                <ul class="list-unstyled">
                    <li><a class="bi bi-linkedin pr-1"></a> <a class="bi bi-instagram"></a></li>
                </ul>
            </span>
        </div>
    </div>
</div>
{% endblock body %}